body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff; 
}

.logo img {
    height: 60px; 
    margin-right: 10px; 
}

.title {
    flex-grow: 1; 
}

.title h2 {
    margin: 0;
    font-size: 30px;
}



.container {
    width: 300px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    margin: auto; 
    margin-top: 10%; 
    background-color: rgba(32, 192, 0, 0.589); 
}
.container h2{
    color: #ccc;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #ccc;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #e3e703e1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b8bb16e1;
}

.hidden {
    display: none;
}


/* forgot-password */
.forgot-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(0, 100, 0, 0.75);
    border-radius: 8px;
    margin-top: 50px;
    border-radius: 50px;
}

.forgot-password-container h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
}

.forgot-password-container p {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.email-input {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin: auto;
    margin-bottom: 20px;
    background-color:white;
    color: #000000;
    padding: 10px 0;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}



.error-box {
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid red;
    padding: 10px;
    margin: 20px auto; /* Center horizontally */
    background-color: #ffe6e6; /* Light red background color */
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    max-width: 400px; /* Set a maximum width */
    }

.message-box{

    font-family: 'Times New Roman', Times, serif;
    border: 2px solid green;
    padding: 10px;
    margin: 20px auto; /* Center horizontally */
    background-color: lightgreen;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    max-width: 400px; /* Set a maximum width */
}

.cancel{
    padding: 5px;
    background-color: #e3e703e1;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
    margin-left: 30%
}
.close {
    color: #aaa;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-right: 100%;
    margin-top: -3em;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }