<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.example.com/fontawesome/css/all.css">
  <link rel="shortcut icon" type="image/png" href="images/essu-logo.png">
  <link rel="stylesheet" href="css/scheduleP.css">
  <title>Parets</title>
</head>
<body>
  <div class="background">
<img src="images/background.webp" alt="" srcset="">
  </div>
  <div class="sidebar">
    <div class="logo-details">
      <img src="images/essu-logo.png" alt="essu logo" class="logo-details__img">
        <span class="logo-details__name">Attendance Monitoring System</span>
      </div>
    <div class="line"></div>

    <ul class="nav-list">
      <li class="nav-list__lists">
        <a href="/home" class="page-main">
          <i class="fas fa-home page-main--icon"></i> 
          <span class="page-main--name">Home</span>
        </a>
      </li>
      <!-- <li class="nav-list__lists">
        <a href="/schedule" class="page-main">
          <i class="fas fa-calendar-alt page-main--icon"></i>
          <span class="page-main--name">Schedule</span>
        </a>
      </li> -->
      <li class="nav-list__lists">
        <a href="/account" class="page-main">
          <i class="fas fa-user page-main--icon"></i>
          <span class="page-main--name">Account Details</span>
        </a>
      </li>
      <li class="nav-list__lists2">
        <a href="/logout" class="page-main">
          <i class="fas fa-sign-out-alt page-main--icon"></i> 
          <span class="page-main--name">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
 
  <div class="content-table">
    <table>
      <thead>
       <tr>
                <th>CODE</th>
                <th>SUBJECT</th>
                <th>DISCRIPTION</th>
                <th>UNITS</th>
                <th>SCHEDULE</th>
                <th>ROOM</th>
                <th>INSTRUCTOR</th>
                <th>SECTION</th>

               
            </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          

         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
            
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
         
        </tr>
      </tbody>
      <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <td></td>
          <td></td>
          <td></td>
           
         
        </tr>
      </tbody>
    </table>

   
  </div>
 
</body>
</html>
</body>
</html>